USE [master]
GO
/****** Object:  Database [Pathfinder]    Script Date: 20/05/2021 20:22:54 ******/
CREATE DATABASE [Pathfinder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pathfinder', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PATHFINDER\MSSQL\DATA\Pathfinder.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pathfinder_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PATHFINDER\MSSQL\DATA\Pathfinder_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pathfinder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pathfinder]
GO
/****** Object:  User [admin]    Script Date: 20/05/2021 20:22:54 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Labirintos]    Script Date: 20/05/2021 20:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labirintos](
	[Nome] [varchar](40) NOT NULL,
	[Criador] [varchar](60) NOT NULL,
	[DataCriacao] [varchar](60) NOT NULL,
	[DataUltimaModificacao] [varchar](60) NOT NULL,
	[Conteudo] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
